.body
  +reg
img
  max-width: 100%  
.container
  max-width: 1170px
  padding: 20px
  margin: auto
main
  background-color: $background-color

.button
  border-radius: 10px
  background-color: $main-yellow
  border: none
  padding: 18px 30px 17px 30px
  font-size: 13px
  +bold